<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#" >{{getTitle()}}</a> -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         <i class="fa fa-dashboard"></i> -->
                    <!-- <p class="hidden-lg hidden-md">{{getTitle()}}</p> -->
                    <!-- </a>  -->
                    <a href="#">
                        <p>Home</p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <p>Bucket</p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <p>Database</p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <p>Proccess</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>User Profile</p>
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                        <p>Users List</p>
                    </a>
                </li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <p>Log out</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>