<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title ">Add Column In {{tableName}}</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let o of tableHeader;">{{o}}</th>
                </tr>
              </thead>

              <tr>
                <td class="text-center">
                  <input type="text" class="form-control">
                </td>
                <td class="text-center">
                  <select class="form-control">
                    <option>int</option>
                    <option>varchar</option>
                  </select>
                </td>
                <td class="text-center">
                  <input type="text" class="form-control">
                </td>
                <td class="text-center">
                  <label class="checkbox-inline" class="text-center">
                    <input type="checkbox" value="">
                  </label>
                </td>
                <td class="text-center">
                  <input type="text" class="form-control">
                </td>
              </tr>
              <tbody>

            </table>
            <div class="text-center">
              <button type="button" class="btn btn-info btn-fill">Add Column</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>