<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form #edit="ngForm" (ngSubmit)="onSubmit(edit)">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" placeholder="Username" #username="ngModel" name="username" ngModel>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password" #password="ngModel" name="password" ngModel>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Email" #email="ngModel" name="email" ngModel>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" placeholder="Phone number" #phoneNumber="ngModel" name="phoneNumber" ngModel>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Fist Name" #name="ngModel" name="name" ngModel>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name" #surname="ngModel" name="surname" ngModel>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-info btn-fill  btn-block">Update Profile</button>
                                </div>
                                <div class="col-md-6">
                                        <button type="button" (click)="resetForm(edit)" class="btn btn-info btn-fill  btn-block">Reset</button>
                                    </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-gray" src="assets/img/faces/face-0.jpg" alt="..." />
                            <h4 class="title">{{user.name}}  {{user.surname}}</h4>
                        </div>
                        <p class="description text-center">
                            {{user.username}}
                            <br> {{user.email}}
                            <br> {{user.phoneNumber}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>