<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"> Log </h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Output</th>
                  <th>Error</th>
                </tr>
              </thead>
              <tbody>
                <tr style="background: white">
                  <td>
                    <textarea class="form-control" rows="10" [ngModel]="log.stdout" [disabled]=is_edit> 
                    </textarea>
                  </td>
                  <td>
                    <textarea class="form-control" rows="10" [ngModel]="log.stderror" [disabled]=is_edit>
                    </textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>