<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Alert Table</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center">Schema Name</th>
                  <th class="text-center">Table Name</th>
                  <th class="text-center">Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="text-center">
                      {{schemaName}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{tableName}}
                    </div>
                  </td>
                  <td class="text-center">
                    <button type="button" rel="tooltip" title="Add Key" class="btn btn-info btn-simple btn-xs" [routerLink]="['/database',schemaName,'table',tableName,'key']"
                      [queryParams]="{record:colName | json }">
                      <i class="fa fa-key"></i>
                    </button>

                    <button type="button" rel="tooltip" title="Add Column" class="btn btn-success btn-simple btn-xs" [routerLink]="['/database',schemaName,'table',tableName,'add']">
                      <i class="far fa-columns"></i>
                    </button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title ">DATABASE {{ schemaName }} TABLE {{ tableName }} Structure </h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of columnsName?.columnsName">{{ cell }}</th>
                  <th class="text-center">Operation</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let elements of rows?.row; let i=index">
                  <td *ngFor=" let e of this.rows.row[i].elements; let  j=index" class="text-center">
                    <div *ngIf="!this.rows.row[i].elements[j].isNull; else ISNULL">
                      {{ this.rows.row[i].elements[j].value}}
                    </div>

                  </td>
                  <td class="text-center">
                    <div>
                      <button type="button" rel="tooltip" title="Alert" class="btn btn-success btn-simple btn-xs" [routerLink]="['/database',schemaName,'table',tableName,'alert']"
                        [queryParams]="{record:elements | json }">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </td>

                  <ng-template #ISNULL>
                    <td>

                    </td>
                  </ng-template>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <!-- Foreign key  -->

    <div *ngIf="selectTableForeignKeys?.foreignKeysList.length > 0">
      <div class="card">
        <div class="header">
          <h4 class="title ">FOREIGN KEY</h4>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th *ngFor="let o of foreignKeyHeader;">{{o}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of selectTableForeignKeys?.foreignKeysList; let i=index">
                <td>
                  <tr *ngFor="let f of o?.elements; let j=index">
                    {{f.columnName}}
                  </tr>
                </td>

                <td>
                  <tr *ngFor="let f of o?.elements; let j=index">
                    {{f.referencedColumn}}
                  </tr>
                </td>

                <td>
                  <tr *ngFor="let f of o?.elements; let j=index">
                    {{f.refererencedTable}}
                  </tr>
                </td>

                <td>
                  {{o.constrainName}}
                </td>
                <td>
                  <button type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- Primary Key -->


    <div *ngIf="primaryKeyColumns?.listOfColumnName.length > 0">
      <div class="card">
        <div class="header">
          <h4 class="title "> PRIMARY KEY </h4>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Primary Key Columns</th>
                <th class="text-center">Operation</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>
                  <tr *ngFor="let o of primaryKeyColumns?.listOfColumnName; let i=index"> {{o}} </tr>
                </td>

                <td class="text-center">
                  <button type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="selectTableUniqueKeys?.uniqueKey.length > 0">
      <div class="card">
        <div class="header">
          <h4 class="title ">Unique KEY</h4>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Unique</th>
                <th>Constraint</th>
                <th class="text-center">Operation</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let o of selectTableUniqueKeys?.uniqueKey; let i=index">
                <td>
                  <tr *ngFor="let e of o?.columnsName; let j=index">
                    {{e}}
                  </tr>
                </td>
                <td>
                  {{ o.uniqueKeyName }}
                </td>
                <td class="text-center">
                  <button type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>