.centered {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 100%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.container {
  background-image: url("assets/img/cloude.jpg");
   /* Full height */
   height: 100%;
   width: 100%;
}
.h1_color{
  color:white;
}