<div class="wrapper">
  <div class="container">
    <div class="container-fluid">
      <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">

          <div class="text-center">
            <h1 class="h1_color">WELCOME TO SUPERCLOUD</h1>
          </div>
          <div class="card">
            <div class="well">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#login" data-toggle="tab">Login</a>
                </li>
                <li>
                  <a href="#create" data-toggle="tab">Create Account</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="login">
                  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Username</label>
                          <input type="text" class="form-control" placeholder="Username" name="username" #username="ngModel" ngModel>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel" ngModel>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-info btn-fill btn-block">LogIn</button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>

                <div class="tab-pane fade" id="create">
                  <form #signUpForm="ngForm" (ngSubmit)="onSubmitSignUp(signUpForm)">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Username</label>
                          <input type="text" class="form-control" placeholder="Username" name="username" #username="ngModel" ngModel>
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel" ngModel>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" class="form-control" placeholder="Email" name="email" #email="ngModel" ngModel>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Phone Number</label>
                          <input type="text" class="form-control" placeholder="Phone number" name="phoneNumber" #phoneNumber="ngModel" ngModel>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" class="form-control" placeholder="First Name" name="name" #fistname="ngModel" ngModel>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" class="form-control" placeholder="Last Name" name="surname" #surname="ngModel" ngModel>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-info btn-block btn-fill">Sign Up</button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>