<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Create Table In {{schemaName}}</h4>
            </div>
            <hr>
            <div>
              <div class="col-md-12" style="width: 32.5%">
                <label>Table Name</label>
                <input type="text" class="form-control" placeholder="Table Name">
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" *ngFor="let o of tableHeader;">{{o}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <select class="form-control">
                          <option>int</option>
                          <option>varchar</option>
                        </select>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>

                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <select class="form-control">
                          <option>int</option>
                          <option>varchar</option>
                        </select>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>

                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <select class="form-control">
                          <option>int</option>
                          <option>varchar</option>
                        </select>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>

                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <select class="form-control">
                          <option>int</option>
                          <option>varchar</option>
                        </select>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>

                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <select class="form-control">
                          <option>int</option>
                          <option>varchar</option>
                        </select>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>
                      <td class="text-center">
                        <input type="text" class="form-control">
                      </td>
                      <td class="text-center">
                        <label class="checkbox-inline" class="text-center">
                          <input type="checkbox" value="">
                        </label>
                      </td>

                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="text-center">
                <div class="btn-group">
                  <button type="button" rel="tooltip" title="Add Column" class="btn btn-success btn-simple btn-xs">Add Column
                    <i class="fa fa-plus"></i>
                  </button>
                  <button type="button" rel="tooltip" title="Save" class="btn btn-info btn-simple btn-xs" (click)="onSave()">Add Key
                    <i class="fa fa-key"></i>
                  </button>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="save">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Create Keyes</h4>
            </div>
            <div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Columns Names</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" *ngFor="let p of tablePrimaryKey;">
                        {{p}}
                        <input type="checkbox" value="">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="text-center">
                <div class="btn-group">
                  <button type="button" rel="tooltip" title="Save Primary Key" class="btn btn-success btn-simple btn-xs" (click)="onSavePrimaryKey()">Add Primary Key
                    <i class="fa fa-floppy-o"></i>
                  </button>
                  <button type="button" rel="tooltip" title="Save Unique Key" class="btn btn-info btn-simple btn-xs" (click)="onSaveUniqueKey()">Add Unique Key
                    <i class="fa fa-floppy-o"></i>
                  </button>

                  <button type="button" rel="tooltip" title="Save Foreign Key" class="btn btn-primary btn-simple btn-xs" (click)="onSaveForeignKey()">Add Foreign Key
                    <i class="fa fa-floppy-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="save && savePrimaryKey">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Primary Key</h4>
            </div>
            <div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Columns Names</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let p of tablePrimaryKeyValue;">
                        {{p}}
                      </td>
                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="save && saveUniqueKey">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Unique Key</h4>
            </div>
            <div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Columns Names</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let o of uniqueKeyList; let i=index">
                      <td class="text-center">
                        <tr *ngFor="let e of o.uniqueKey; let j=index">
                          {{e}}
                        </tr>
                      </td>

                      <td class="text-center">
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="save && saveForeingKey">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Foreign Key</h4>
            </div>
            <div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Columns Names</th>
                      <th>REFERENCED TABLE</th>
                      <th>REFERENCED COLUMN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let o of forignKeyList; let i=index">
                      <td class="text-center">
                        <tr *ngFor="let e of o.foreign; let j=index">
                          {{e}}
                        </tr>
                      </td>

                      <td>
                        <input type="text">
                      </td>

                      <td>
                        <tr *ngFor="let e of o.foreign; let j=index">
                          <input type="text">
                        </tr>
                      </td>

                      <td class="text-center">
                        <button type="button" rel="tooltip" title="Save" class="btn btn-success btn-simple btn-xs">
                          <i class="fa fa-floppy-o"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-info btn-fill">Create Table</button>
      </div>

    </div>
  </div>
</div>