<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Task</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of tableData1.loges; let i=index">
                  <td class="text-center">
                    {{i + 1}}
                  </td>

                  <td class="text-center" *ngIf="!log.viewed" >
                    <div class="font-icon-detail" class="pe-7s-close-circle"></div>
                  </td>

                  <td class="text-center" *ngIf="log.viewed">
                    <div class="font-icon-detail" class="pe-7s-look" ></div>
                  </td>
                  <td class="text-center">
                    {{log.entry.fullpath}}
                  </td>
                  <td class="text-center">
                    {{log.pid}}
                  </td>


                  <td class="text-center">
                    {{log.runAt | date :'short'}}
                  </td>

                  <td class="text-center">
                    <div class="btn-group">
                      <button *ngIf="!log.nowRunning" type="button" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" [routerLink]="['/processes', 'log']"
                        [queryParams]="{record: log | json }">
                        <i class="fa fa-eye"></i>
                      </button>


                      <button *ngIf="log.nowRunning" type="button" rel="tooltip" title="Stop" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-stop"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>