<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">User List</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of tableData1.users; let i=index">
                                    <td class="text-center">{{user.id}}</td>
                                    <td class="text-center">{{user.username}}</td>
                                    <td class="text-center">{{user.name}}</td>
                                    <td class="text-center">{{user.surname}}</td>
                                    <td class="text-center">{{user.email}}</td>
                                    <td class="text-center">{{user.phoneNumber}}</td>
                                    <td class="text-center" >
                                        <div *ngIf="user.active">
                                            <p>Active</p>
                                        </div>
                                        <div  *ngIf="!user.active">
                                            <button type="button"  (click)="onActivate(user.id)" class="btn btn-info btn-fill"> INACTIVE </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="cell !=='INACTIVE'">
    {{cell}}
</div>
<div *ngIf="cell === 'INACTIVE'">
    <button type="button" class="btn btn-info btn-fill"> INACTIVE </button>
</div>  -->