<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Create Keyes</h4>
          </div>
          <div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Columns Names</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left" *ngFor="let p of columnsName;">
                      {{p}}
                      <input type="checkbox" value="">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="text-center">
              <div class="btn-group">
                <button type="button" rel="tooltip" title="Save Primary Key" class="btn btn-success btn-simple btn-xs">Add Primary Key
                  <i class="fa fa-floppy-o"></i>
                </button>
                <button type="button" rel="tooltip" title="Save Unique Key" class="btn btn-info btn-simple btn-xs">Add Unique Key
                  <i class="fa fa-floppy-o"></i>
                </button>

                <button type="button" rel="tooltip" title="Save Foreign Key" class="btn btn-primary btn-simple btn-xs" (click)="onAddForeignKey()">Create Foreign Key
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="saveForeingKey">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Foreign Key</h4>
          </div>
          <div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Columns Names</th>
                    <th>REFERENCED TABLE</th>
                    <th>REFERENCED COLUMN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let o of forignKeyList; let i=index">
                    <td class="text-center">
                      <tr *ngFor="let e of o.foreign; let j=index">
                        {{e}}
                      </tr>
                    </td>

                    <td>
                      <input type="text">
                    </td>

                    <td>
                      <tr *ngFor="let e of o.foreign; let j=index">
                        <input type="text">
                      </tr>
                    </td>

                    <td class="text-center">
                      <button type="button" rel="tooltip" title="Save" class="btn btn-primary btn-simple btn-xs">Add Foreign key
                        <i class="fa fa-floppy-o"></i>
                      </button>
                      <!-- <button type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                      </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>